<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <!-- Thay đổi Server name phù hợp với máy của bạn -->
        <add name="FootballDB" 
             connectionString="Server=.;Database=FootballManagementDB;Integrated Security=True;" 
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
